@font-face {
  font-family: robot;
  src: url(../fonts/Roboto-Bold.ttf);
}

.search {
  width: 400px;
  height: 300px;

  margin: 20px 35%;

  text-align: center;
  font-family: robot;
}

.search__title {
  font-size: 72px;
  text-shadow: 1px 1px 2px black;
}

.search__title .x1{
  font-size: 100px;
  color: rgba(66, 134, 244, 0.8);
}

.search__title .o1 {
  color: rgba(219, 41, 28, 0.8);
}

.search__title .x2 {
  color: rgba(242, 187, 24, 0.8);
}

.search__title .o2 {
  color: rgba(66, 134, 244, 0.8);
}

.search__title .l {
  color: rgba(5, 165, 0, 0.8);
}

.search__field {
  width: 325px;
  height: 26px;
  border: 2px solid #eee;
  box-shadow: 0 0 8px rgba(10,10,10,0.5);

  font-size: 18px;
}

#search__btn {
  width: 120px;
  height: 30px;

  margin-top: 20px;

  border-radius: 5px;
  box-shadow: 0 0 2px rgba(10,10,10,0.5);
  background-color: rgba(198, 198, 198, 0.6);
  outline: none;

  color: rgb(10, 10, 10);
  font-family: robot;
}

#search__btn:hover,
#search__btn:active {
  outline: none;
  cursor: pointer;

  color: rgb(28, 115, 255)
}

.loading {
  display: none;
  margin: 0 auto;
  text-align: center;

  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#video__list {
  margin: 0 auto;
  /*width: 800px;*/
  width: 95%;
  text-align: center;
}

.video {
  margin: 10px;
}
